@CHARSET "UTF-8";
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	           outline: none;
}
 
 
.password-form {
	margin: 20% auto;
	max-width: 586px;
}


.password-form > section {
	text-align: center;
	margin-top: 15px;
}


.password-form > section:first-child {
	margin-bottom: 42px;
}


form[role=changePassword] {
	font: 14px/2.2em Tahoma, serif;
	color: #444;
	background: #a08fa7;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 21px 38px 35px 38px;
	margin-bottom: 25px;
	
	-webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, .4);
	   -moz-box-shadow: 0 0 3px 0 rgba(50, 50, 50, .4);
	        box-shadow: 0 0 3px 0 rgba(50, 50, 50, .4);
}	


form[role=changePassword] .form-group {
	margin-bottom: 8px;
}


form[role=changePassword] label {
	margin: 0;
}


form[role=changePassword] input,
form[role=changePassword] button {
	margin: 0;
}


form[role=changePassword] input {
		color: #777;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 0;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
		box-shadow: none;
}


form[role=changePassword] button {
		padding: 7px 60px;	
		margin-top: 15px;
		font-size: 16px;
}

.alignButton{
	text-align: center;
}
